<div class="navbar">
    <div style="font-size: xx-large; font-weight: 600;">Nike</div>
    <div>
        <a routerLink="">HOME</a>
       <button (click)="home()" type="submit"> <i class="fas fa-home"></i></button>
        <a routerLink="shopping">SHOP</a>
        <button (click)="shop()" type="submit"> <i class="fas fa-bag-shopping"></i></button>

        <a routerLink="cart">CART</a>
    

    <button type="button" class="btn btn-primary position-relative" (click)="cart()">
        <i class="fas fa-cart-shopping"></i>
        <!-- <div *ngIf="items!=0, else elseblock" >
            <span  class="position-absolute top-0 start-100 translate-middle p-2 bg-primary border border-light rounded-circle">
              
              <span class="visually-hidden" >unread messages</span>
            </span>
        </div>
        <ng-template #elseblock></ng-template> -->
      </button>
    </div>
</div>
