

.navbar{
    display: flex;
    padding: 20px auto;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255) ;
    color:var(--text);
    text-transform:capitalize;
    border-bottom: 2px  solid var(--text);
    margin: auto;
    width: 100%;
    height: 90px;
    flex-wrap: wrap;
    
}
.navbar div{
    margin: auto;
    /* background-color: aquamarine; */
    
}

.navbar a{
    /* display: none; */
    color: var(--text);
    font-size: medium;
    text-decoration: none;
    padding: 5px 30px;
    /* border-radius: 40px; */
    /* background-color: darkgray; */
    margin-inline: auto;
    border: 3px solid transparent;
}

.navbar a:hover,.navbar a:focus{

    
    animation: hov 1s linear infinite;
    /* transition: 1s ease-in-out; */
    /* transform-origin:right; */

    box-shadow: 3px 3px 7px #202020;
}

@keyframes hov{
    0%{
        
        border-right-color:  var(--text) ;
        /* border-bottom-color:  snow ; */
    }
    33%{
        border-bottom-color:  var(--text) ;
        /* border-left-color:  snow ; */
    }
    66%{
        border-left-color:  var(--text) ;
        /* border-top-color:  snow ; */
    }
    95%{
        border-top-color:  var(--text) ;
        /* border-right-color:  snow ; */
    }
    100%{
        border-color: transparent;
    }
}

.navbar button{
    
    padding: 0;
    background-color: transparent;
    border: none;
}
.navbar i{
    /* display: none; */
    padding-inline: 10px;
    color: var(--text);
}

.navbar i:hover,.navbar i:focus{
    transform: scale(1.2);
    transform-origin: center;
}

@media(max-width:600px){
    .navbar i{
        display: initial;
    }
   
    

    .navbar a{
        display: none;
    }
}