.footer{
    background:linear-gradient( to right,rgb(6, 46, 78),rgb(130, 10, 70));

    box-sizing: border-box;
    padding: 10px;
    padding-top: 30px;
    color: snow;
position: static;
bottom: 0px;

width: 100vw;
}

.link{
    padding: 30px;
    min-width: 200px;
}

