.items{
margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 1;
    gap: 40px;
    padding: 40px;
}

.card:hover,.card:focus{

    box-shadow: 6px 6px 10px #404040;
    
}

.card h5{

    text-transform: capitalize;
}