<div class="home">
<div class="title">
<div>
    <span id="main-title">Nike</span><br><br>
    <span id="sub-title">Just Buy It</span>
</div>
</div>


<!-- slide  -->


    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1800">
            <img [src]="'assets/img1.png'" class="d-block " alt="1">
          </div>
          <div class="carousel-item" data-bs-interval="1800">
            <img src="assets/img2.png" class="d-block " alt="2">
          </div>
          <div class="carousel-item" data-bs-interval="1800">
            <img src="assets/img3.png" class="d-block  " alt="3">
          </div>
        </div>
      </div>




</div>
