<div class="home">
  <div class="title">
    <div>
      <span id="main-title">Nike</span><br><br>
      <span id="sub-title">Just Do It</span>
    </div>
  </div>


  <!-- slide  -->


  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1800">
        <img [src]="'assets/img1.png'" class="d-block " alt="1">
      </div>
      <div class="carousel-item" data-bs-interval="1800">
        <img src="assets/img2.png" class="d-block " alt="2">
      </div>
      <div class="carousel-item" data-bs-interval="1800">
        <img src="assets/img3.png" class="d-block  " alt="3">
      </div>
    </div>
  </div>




</div>
<div class="content ">

 <div> <img src="assets/img1.png" alt=""></div>
  <div>
    <p><span>50% OFF </span> <br> on nike air 2 model
    </p>
  </div>
</div>
<div class="content ">
  <div>
    <p><span>30% OFF </span> <br> on nike jump 2 model
    </p>
  </div>
  <div> <img src="assets/img2.png" alt=""></div>
 
 </div>
 <div class="content ">

  <div> <img src="assets/img3.png" alt=""></div>
   <div>
     <p><span>5% OFF </span> <br> nike elevator model
     </p>
   </div>
 </div>